
@{
    ViewBag.Title = "Index";
}
<style>

    .btn-1 {
        padding: 14px 24px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 15px;
        box-shadow: 0 4px #bbb;
    }

        .btn-1:hover {
            background-color: #4CAF50;
        }

        .btn-1:active {
            background-color: #4CAF50;
            box-shadow: 0 3px #444;
            transform: translateY(3px);
        }



    
</style>

<div id="kullanicikontrol" >
    <label>Kullanici Adi Giriniz:</label>
    <input id="txtUsername" value="" />
    <button id="Giris">Giris Yap!</button>
</div>


<div class="container-fluid h-100" id="ChatRoom">
    <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-3 chat">
            <div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="card-header">
                    <div class="input-group">
                        <input type="text" placeholder="Search..." name="" class="form-control search">
                        <div class="input-group-prepend">
                            <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="card-body contacts_body">
                    <ui class="contacts">
                        <li class="active">
                            <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                    <img src="https://www.khaama.com/wp-content/uploads/2019/02/Afghan-Singer-Ghawgha-Taban-880x672-880x672.jpg" class="rounded-circle user_img">
                                    <span class="online_icon"></span>
                                </div>
                                <div class="user_info">
                                    <span>Maryam Naz</span>
                                    <p>Maryam is online</p>
                                </div>
                            </div>
                        </li>
                    </ui>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-md-8 col-xl-6 chat">
            <div class="card">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="~/Content/img/AllChatİmage.jpg" class="rounded-circle user_img">
                            <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                            <span>Chat Odası</span>
                            <p>1767 Messages</p>
                        </div>
                       
                    </div>
                    <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
               
                </div>
                <div id="messages" class="card-body msg_card_body ">
                   
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                        </div>
                        <textarea style="max-width:380px;" id="txtMessage" class="form-control type_msg" placeholder="Type your message..." ></textarea>
                        <button id="btnSendMessage" class="btn-1" style="margin-left:10px;">Gönder</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{

    <script>
        $(function () {

            var chat = $.connection.chatHub;
            var $username = $('#txtUsername');
            var $message = $('#txtMessage');
            var $messages = $('#messages');

            $message.focus();

            chat.client.sendMessage = function (name, message) {

                var tarih = new Date();
                var saat = tarih.getHours();
                var dakika = tarih.getMinutes();
                var kullanici = $username.val();
                if (kullanici == name) {
                    $("#messages").append(`<div class="d-flex justify-content-end mb-4"><div class= "msg_cotainer_send"> <label style="color: #B4886B">Ben:</label> </br>${message}<span class= "msg_time_send" style="margin-top:3px;">${saat}:${dakika} Today</span ></div > </div >`);
                }
                else {
                    $("#messages").append(`<div class="d-flex justify-content-start mb-4">
                        <div class="msg_cotainer">
                           <label style="color: #B4886B">${name}:</label> </br> ${message}
                          <span class= "msg_time_send" style="margin-top:3px;">${saat}:${dakika} Today</span >
                        </div>
                    </div>`);
                }
            };

            $.connection.hub.start().done(function () {
                $('#btnSendMessage').click(function () {

                    chat.server.send($username.val(), $message.val());

                    $message.val('').focus();
                });
            });
        });

        $(document).ready(function () {

            $('#action_menu_btn').click(function () {
                $('.action_menu').toggle();
            });

            $("#ChatRoom").hide();
            $('#Giris').click(function () {
                if ($("#txtUsername").val() == "") { alert("Lütfen Kullanıcı Adı Giriniz!!"); }
                else {
                    $("#ChatRoom").show();
                    $("#kullanicikontrol").hide();
                }
            });


        });
    </script>

}